/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #a256e0;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.instructor {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
/* .instructor .create .side-by-side {
  display: flex;
  flex-direction: row;
} */
.instructor .create span{
  position: absolute;
  padding-left: 10px;
  cursor: pointer;
}
.instructor .create span.first{
  position: absolute;
  right: 65px;
}
.course-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.course-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span.first{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.course-details span.second{
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.admin {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.admin-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.admin-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.admin-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.admin-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.newInstructor {  
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.addInstructor-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.addInstructor-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.addInstructor-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.addInstructor-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.corporateTrainee {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.corporateTrainee-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.corporateTrainee-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.corporateTrainee-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.corporateTrainee-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new course form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  width: 100%;

}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
header .container .CountrySelector {
  min-width: 230px;
}
input.searchbar {
  width: 650px;
  border-radius: 19px;
  margin-top: 18px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.course-details-ss {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.course-details-ss h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details-ss p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details-ss span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}



 .instructor-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.instructor-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.instructor-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.instructor-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
} 
/* Dropdown Button */
.dropbtn {
  background-color: #a256e0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: display; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* display rate*/
div.stars {
  width: 270px;
  display: inline-block;
  background: #fff;
  border-radius: 100px;
  margin: 20px auto;
  /* padding: 20px; */
  position: relative;
  box-shadow: 10px 5px 5px #a256e0;
}
 
/*    rate course     */
input.star { display: none; }
 
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}




/*    rate instructor     */
  input.starr { display: none; }
 
  label.starr {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
   
  input.starr:checked ~ label.starr:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
   
  input.starr-5:checked ~ label.starr:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
   
  input.starr-1:checked ~ label.starr:before { color: #F62; }
   
  label.starr:hover { transform: rotate(-15deg) scale(1.3); }
   
  label.starr:before {
    content: '\f006';
    font-family: FontAwesome;
  }

  
/* request */
.request-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.request-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.request-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.request-details span.accept{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #0ad711;
  padding: 8px;
  border-radius: 50%;
  color: rgb(247, 246, 246);
}
.request-details span.reject{
  position: absolute;
  bottom: 10px;
  right: 25px;
  cursor: pointer;
  background: #ee0f0f;
  padding: 11px;
  border-radius: 50%;
  color: rgb(247, 247, 247);
}


.request-form{
background: #fff;
border-radius: 4px;
margin: 20px auto;
padding: 20px;
position: relative;
box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.request-form h2 {
margin: 0 0 10px 0;
color: var(--primary);
}


.policy input{
width: 2%;
position: relative;
bottom: 27px;
right: 5px;
}








/* Request form */

.form-control {
  font-family: system-ui, sans-serif;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
}
.form-control + .form-control {
  margin-top: 1em;
}
.form-control input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
}
.form-control input[type="radio"] {
  /* ...existing styles */

  display: grid;
  place-content: center;
}
.form-control input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}
.form-control input[type="radio"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

.form-control input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.form-control input[type="radio"]:checked::before {
  transform: scale(1);
}
.form-control input[type="radio"]::before {
  /* ...existing styles */

  /* Windows High Contrast Mode */
  background-color:#a256e0 ;
}

.form-control input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.form-controll {
  font-family: system-ui, sans-serif;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
}

.form-controll + .form-controll {
  margin-top: 1em;
}

.form-controll input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
}
.form-controll input[type="radio"] {
  /* ...existing styles */

  display: grid;
  place-content: center;
}
.form-controll input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}
.form-controll input[type="radio"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

.form-controll input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.form-controll input[type="radio"]:checked::before {
  transform: scale(1);
}
.form-controll input[type="radio"]::before {
  /* ...existing styles */

  /* Windows High Contrast Mode */
  background-color:#a256e0 ;
}

.form-controll input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

button {
  font-size: 1.1em;
  background-color: #EBF5FF;
  color: #4312AE;
  border: 2px solid black;
  box-shadow: 4px 4px 4px #999999;
}
button:hover, button:focus, button:active {
  /* swap colors */
  color: #EBF5FF;
  background-color: #4312AE;
  cursor: pointer; /* displays a hand */
}

.review-form {
background: #fff;
border-radius: 4px;
margin: 20px auto;
padding: 20px;
position: relative;
box-shadow: 2px 2px 5px rgb(0 0 0 / 5%);
}
.review-form h2 {
  margin: 0 0 10px 0;
  color: var(--primary);
}

.rate-button Button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.post-review{
  position:static;
  font-size: 1.1em;
  background-color: #a256e0;
  border: 2px solid black;
  box-shadow: 4px 4px 4px #999999;
}